@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #1E3773;
  /* Azul Mercurio */
  --primary-foreground: #ffffff;

  --secondary: #e2e8f0;
  --secondary-foreground: #1e293b;

  --accent: #EB2891;
  /* Rosa/Magenta Mercurio */
  --accent-foreground: #ffffff;

  /* Colores de la Onda Mercurio */
  --mercurio-yellow: #FFCD28;
  --mercurio-green: #AACD46;
  --mercurio-pink: #EB2891;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --card: #ffffff;
  --card-foreground: #0f172a;

  --border: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;

    --primary: #3b82f6;
    --primary-foreground: #0f172a;

    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;

    --accent: #EB2891;
    --accent-foreground: #0f172a;

    --destructive: #f87171;
    --destructive-foreground: #0f172a;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --card: #1e293b;
    --card-foreground: #f8fafc;

    --border: #334155;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-mercurio-yellow: var(--mercurio-yellow);
  --color-mercurio-green: var(--mercurio-green);
  --color-mercurio-pink: var(--mercurio-pink);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--color-card-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}